@import url('reset.css');

.container {
    width: 1200px;
    padding: 0;
    background: rgb(231, 187, 218);
    margin: 0 auto;
    font-size: 0;
  }

  .clearfix::after {
    content: '';
    clear: both;
    display: block;
    } 

.in-block1 { 
    background-color: rgba(246, 255, 212, 1);
    font-family: "Inter", serif; 
    font-weight: 400;
}

.in-block1-child {
    vertical-align: top;
    padding: 20px;
    outline: 2px solid black;
    font-size: 20px;
    width: 400px;
    height: 400px;
    float: right;
}


.in-block2 {
    font-size: 0; 
    display: inline-block;
    background-color: rgba(218, 251, 247, 1);
    font-family: Roboto Condensed; 
    font-weight: 400;
}

.in-block2 > div:first-child{
    vertical-align: top;
    font-size: 20px;
    outline: 2px solid black;
    width: 800px;
    height: 400px;
    padding: 0px;
    float: left;
}

.in-block2 > div:nth-child(2){
    vertical-align: top;
    font-size: 20px;
    outline: 2px solid black;
    width: 400px;
    padding: 0px;
    float: left;
}


.attachment1 {
    display: block;
    height: 200px;
    outline: 2px solid black;
    padding: 20px;
    overflow: hidden;
}

.attachment2 {
    display: block;
    height: 133.33px;
    outline: 2px solid black;
    padding: 20px;
    overflow: hidden;
}

.in-block3 {
    font-size: 0; 
    float: left;
    outline: 2px solid black;
    overflow: hidden;
    background-color: rgba(249, 230, 249, 1);
    font-family: Playwrite ES Deco Guides; 
    font-weight: 400;
}

.in-block3 > div:first-child{
    vertical-align: top;
    font-size: 20px;
    width: 400px;
    height: 400px;
    padding: 20px;
    float: left;
}

.in-block3 > div:nth-child(2){
    vertical-align: top;
    outline: 2px solid black;
    width: 800px;
    height: 400px;
    padding: 0;
    float: left;
}

.attachment3 {
    font-size: 20px;
    height: 200px; 
    outline: 2px solid black; 
    padding: 20px;
}
 
.in-block3-content {
   font-size: 0;
}

.in-block3-content > div:nth-child(2){
    vertical-align: top;
    width: 400px;
    float: left;
}

.in-block3-content > div:nth-child(3){
    height:200px;
    width:400px;
    padding: 0px;
    float: left;
}

.in-block3 {
    font-size: 0; 
    padding: 0;
}

.in-block4 {
    display: block; 
    padding: 0;
    height: 100px;
    font-size: 0;
}

.in-block4 >div{
    padding: 20px;
    outline: 2px solid black;
    height: 100px;
    overflow: hidden;
    font-size: 20px;
}






 


